body {
  background-color: rgb(177, 177, 177);
}

#app {
  font-family: sans-serif, montserrat;
  background-color: white;
  width: 500px;
  margin: auto;
  text-align: center;
  border-radius: 12px;
  padding: 3px;
  box-shadow: 1px, 1px rgb(92, 92, 92);
}

li {
  text-align: left;
  margin-right: 30px;
}

ul {
  display: flex;
}
